1) IMPORT LIBRARIES

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

2) IMPORT DATASET

In [10]:
CSV_PATH = 'data/stud.csv'
df = pd.read_csv(CSV_PATH)

In [ ]:
df.head()

In [ ]:
df.shape
df.columns

3) DATA CHECKS TO PERFORM

1. CHECK MISSING VALUES
2. CHECK DUPLICATES
3. CHECK DATA TYPES
4. CHECK THE NUMBER OF UNIQUE VALUES OF EACH COLUMN
5. CHECK STATISTICS OF DATASET
6. CHECK VARIOUS CATEGORIES PRESENT IN THE CATEGORICAL COLUMNS

3.1 CHECK MISSING VALUES

In [15]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

3.2 CHECK DUPLICATES

In [16]:
df.duplicated().sum()

np.int64(0)

3.3 CHECK DATA TYPES

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

3.4 CHECK THE NUMBER OF UNIQUE VALUES OF EACH COLUMN

In [18]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

3.5 CHECK STATISTICS OF THE DATASET

In [19]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000